<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource = "env.properties"/>

    <typeAliases>
        <typeAlias type="com.yi.db.Selection" alias="Selection" />
        <typeAlias type="com.yi.db.SelectionItem" alias="SelectionItem" />
        <typeAlias type="com.yi.db.SelectionItemRealTime" alias="SelectionItemRealTime" />
        <typeAlias type="com.yi.db.Temperature" alias="Temperature" />
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.driver}" />
                <property name="url" value="${mysql.url}" />
                <property name="username" value="${mysql.username}" />
                <property name="password" value="${mysql.password}" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/yi/db/SelectionMapper.xml" />
        <mapper resource="com/yi/db/DFCFRealTimeMapper.xml" />
    </mappers>
</configuration>
