<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.db.SelectedStock" >
    <insert id="insertSelectedStock" parameterType="SelectedStock">
        INSERT into selected_stocks(stock_id,stock_name,driven_by_blocks,belong_to_blocks,price,yesterday_finish_price,
        today_start_price,volume_ratio,turn_over)
        VALUES(#{stock_id}, #{stock_name},#{driven_by_blocks}, #{belong_to_blocks},#{price}, #{yesterday_finish_price},
        #{today_start_price}, #{volume_ratio}, #{turn_over})
    </insert>
</mapper>