<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.db.SelectionItem" >

    <insert id="insertSelection" parameterType="Selection">
        INSERT into selection(selection_id,status,description) VALUES(#{selection_id}, #{status},#{description})
    </insert>

    <insert id="insertSelectionItems" parameterType="SelectionItem">
        INSERT into selection_items(selection_id, stock_id,stock_name,driven_by_blocks,belong_to_blocks,price,yesterday_finish_price,
        today_start_price,volume_ratio,turn_over)
        VALUES(#{selection_id}, #{stock_id}, #{stock_name},#{driven_by_blocks}, #{belong_to_blocks},#{price}, #{yesterday_finish_price},
        #{today_start_price}, #{volume_ratio}, #{turn_over})
    </insert>

    <insert id="insertSelectionItemRealtimeHistory" parameterType="SelectionItemRealTime">
        INSERT into selection_items_realtime_history(stock_id,price,yesterday_finish_price,today_start_price,volume_ratio,turn_over)
        VALUES(#{stock_id}, #{price}, #{yesterday_finish_price}, #{today_start_price}, #{volume_ratio}, #{turn_over})
    </insert>


    <!--sample 1-->
    <!--<resultMap id="selectionItemResult" type="selectionItem">-->
        <!--<result property="stock_id" column="stock_id"/>-->
    <!--</resultMap>-->
    <!--<select id="selectDistinctSelectionItems" resultType="selectionItem" parameterType="int" resultMap="selectionItemResult">-->
        <!--SELECT distinct stock_id from selection_items WHERE creation_date > #{creation_date}-->
    <!--</select>-->

    <!--sample 2-->
    <!--<select id="selectDistinctSelectionItems" resultType="selectionItem" parameterType="int">-->
        <!--SELECT * from selection_items WHERE creation_date > #{creation_date}-->
    <!--</select>-->

    <select id="selectDistinctSelectionItems" resultType="selectionItem" parameterType="int">
        SELECT distinct stock_id from selection_items WHERE creation_date > #{creation_date}
    </select>

</mapper>